body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00ff6c);
}
/*Estilo para la calculadora*/
/*le damos forma a la calculadora */
.calculadora-grilla {
    display: grid;
    justify-content: center;
    align-content:center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
/*le aplicamos diseño a los numeros y simbolos*/
.calculadora-grilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
/*con output le damos estilo a la caja de salida*/
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-wrap: break-all;
    
}

.output .display {
    color: black;
    font-size: 1.85rem;
    text-align: right;
}
/*al pasar el cursor sobre los botones cambian de color 
hover = selecciona el boton al pasar el cursor*/
.calculadora-grilla > button:hover{
    background-color: rgba(255, 255,255, .9);
}
/*fin estilos calculadra*/

/*estilo titilo*/
.titulo {
    border-radius: 45px 45px 45px 45px ;
    border: solid 1px rgb(0, 0, 0);
    margin: 30px;
    background: linear-gradient(to right, #13a0aa, #193c7e);
    text-align: center;
}

h1 {
    font-size: 100px;
    text-shadow: 6px 3px 5px rgb(10, 29, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
}

/*fin titulo*/